* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  box-shadow: black;
  border: 1;
}

body {
  height: 100%;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.date-color {
  color: rgb(128, 120, 120);
  font-size: 0.9rem;
}

button {
  border-radius: 5px;
  border: 0;
  padding: 3px;
  transition: 0.3s;
  background-color: white;
  color: black;
  border: black 1px solid;
}

button:hover {
  background-color: rgb(192, 179, 179);
  color: black;
  border: 1px solid transparent;
}

button:active {
  color: black;
  background-color: white;
}

button:disabled {
  color: white;
  background-color: rgb(158, 151, 151);
}

.bottom {
  padding: 20px;
}

/* Global */

.page-heading,
.single-article.topic {
  text-transform: capitalize;
}

.container {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}

ul {
  display: inline-block;
  list-style: none;
}

ol {
  display: inline-block;
  list-style: none;
}

.back-to-top-container {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}

@media (min-width: 900px) {
  .back-to-top-container {
    display: none;
  }
}

.hide-button {
  visibility: hidden;
}

/* Header */

.header.container {
  padding: 30px 0px 10px 0px;
}

.title-container {
  display: flex;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 0px 10px 0px;
  gap: 22px;
  font-weight: 600;
  text-align: center;
}

.navbar-container {
  align-self: center;
  display: flex;
  gap: 60px;
  padding: 10px 0px;
}

.nav-item {
  font-size: 1rem;
  align-self: center;
}

h2 {
  padding-bottom: 10px;
}

.logged-in-user {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-self: center;
  margin-left: auto;
}

.img-cropper {
  align-self: center;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px black solid;
  text-align: center;
}

.img-cropper > img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.logged-in-user-name {
  align-self: center;
}

.dropdown {
  align-self: center;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 160px;
  z-index: 1;
}

.dropdown .dropdown-content.show {
  margin-top: 2.5px;
  display: flex;
  gap: 10px;
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

.nav-container a {
  padding: 2px 4px 2px 4px;
}

.nav-container a:hover {
  padding: 2px 4px 2px 4px;
  color: rgb(117, 104, 104);
  text-decoration: underline 2px;
}

.nav-container a:visited {
  text-decoration: none;
}

a.logged-in-user:hover {
  color: rgb(117, 104, 104);
  text-decoration: underline 2px;
}

/* Footer */

.footer {
  height: 100%;
  margin-top: 50px;
  background-color: red;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-map {
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
  flex-direction: column;
}

/* Home page */

.home-grid {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 4em;
}

.home-grid-item > .article-container > .articles-ol {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10px;
}

.article-card {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-grid .article-img {
  width: 100%;
  margin-bottom: 5px;
}

.pop-article-votes,
.article-topic {
  text-transform: capitalize;
}

.most-popular-articles > .articles-ol {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 900px) {
  .home-grid {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .article-card-link {
    max-width: 96%;
  }

  .article-card {
    max-width: 100%;
  }
}

/* All articles page */

.all-articles .articles-ol {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.all-articles .article-img {
  width: 100%;
  margin-bottom: 5px;
}

.all-arts-container {
  padding-bottom: 100%;
  height: 0;
  position: relative;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Single article page */

.single-article.head {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: auto;
  gap: 1em;
}

.single-article.title {
  grid-column: 1/2;
}

.article-and-image {
  grid-row: 2;
  grid-column: 1;
  width: 90%;
}

.single-article.image {
  width: 100%;
}

.single-article.body {
  width: 95%;
}

.single-article.info-box {
  grid-row: 2;
  grid-column: 2;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.related-articles {
  grid-row: 2;
  grid-column: 2;
}

.single-article.body {
  margin: 10px 0px 10px 0px;
}

.article-votes,
.button {
  display: flex;
  gap: 8px;
}

@media (max-width: 900px) {
  .single-article.head {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .single-article.body {
    margin: 10px 0px 10px 0px;
  }

  .single-article.image {
    width: 100%;
    align-self: center;
  }

  .single-article.info-box {
    margin: 10px 0px 0px 0px;
  }

  .related-articles {
    visibility: hidden;
    height: 0;
  }
}

.related-articles-container > .articles-ol {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
}

.related-article-card:hover {
  color: rgb(95, 85, 85);
  transition: 0.2s ease-in-out;
}

/* Comments */
.comments {
  display: flex;
  flex-flow: column;
  gap: 1.5em;
  margin-top: 10px;
}

.post-comment-button {
  position: relative;
  right: 0;
}

.comments-ol {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5em;
}

.comment-input {
  width: 100%;
}

.comment-card {
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 5px;
}

.comment-button-flex {
  display: flex;
  justify-content: space-between;
}

.comment-vote-buttons {
  display: flex;
  gap: 5px;
}

.comment-input {
  margin-bottom: 3px;
}

.post-comment-flex {
  display: flex;
  justify-content: flex-end;
}

/* Users page */

.users-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.user-card {
  text-align: center;
}

@media (max-width: 900px) {
  .users-flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5em;
  }
}

.user-login-img-container {
  align-self: center;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px black solid;
  text-align: center;
  margin: 2.5px;
}

.user-login-img-container > img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.users-username {
  margin: 2.5px;
}

.user-login.button {
  margin: 2.5px;
  padding: 5px;
}

/* Articles container */

.article-container {
  padding-bottom: 10px;
}

.sort-order-container {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin: 10px;
}

.article-card-header {
  display: flex;
  margin: 2px 0px 2px 0px;
}

.article-card-link {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 5px;
}

.article-card-link:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.article-card-link:hover::after {
  opacity: 1;
}

.article-img {
  border-radius: 5px;
}

.pop-article-card:hover {
  color: rgb(117, 104, 104);
}

.pop-article-card:hover .pop-article-title {
  text-decoration: underline 2px;
}

.pop-article-topic {
  text-transform: capitalize;
}
