* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  box-shadow: black;
}

body {
  height: 100%;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

/* Global */

.page-heading,
.single-article.topic {
  text-transform: capitalize;
}

.container {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}

ul {
  display: inline-block;
  list-style: none;
}

ol {
  display: inline-block;
  list-style: none;
}

.back-to-top-container {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

@media (min-width: 900px) {
  .back-to-top-container {
    display: none;
  }
}

.hide-button {
  visibility: hidden;
}

/* Header */

.header.container {
  padding: 30px 0px 0px 0px;
}

.title-container {
  display: flex;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 0px 10px 0px;
  gap: 24px;
}

.navbar-container {
  align-self: center;
  display: flex;
  gap: 60px;
  padding: 10px 0px;
}

h2 {
  padding-bottom: 10px;
}

.logged-in-user {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-self: center;
  margin-left: auto;
}

.img-cropper {
  align-self: center;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px black solid;
  text-align: center;
}

.img-cropper > img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.logged-in-user-name {
  align-self: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content.show {
  display: block;
}

/* Footer */

.footer {
  height: 100%;
  margin-top: 50px;
  background-color: red;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-map {
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
  flex-direction: column;
}

/* Home page */

.home-grid {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 4em;
}

.home-grid-item > .article-container > .articles-ol {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10px;
}

.article-card {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-grid .article-img {
  width: 100%;
  margin-bottom: 5px;
}

.pop-article-votes,
.article-topic {
  text-transform: capitalize;
}

.most-popular-articles > .articles-ol {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 900px) {
  .home-grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .article-card {
    max-width: 100%;
  }
}

/* All articles page */

.all-articles .articles-ol {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.all-articles .article-img {
  width: 100%;
  margin-bottom: 5px;
}

.all-arts-container {
  padding-bottom: 100%;
  height: 0;
  position: relative;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Single article page */

.single-article.head {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: auto;
  gap: 1em;
}

.single-article.title {
  grid-column: 1/2;
}

.single-article.image {
  grid-row: 2;
  width: 100%;
}

.single-article.info-box {
  grid-row: 2;
  margin-left: 30px;
}

.single-article.body {
  margin: 10px 0px 10px 0px;
}

@media (max-width: 900px) {
  .single-article.head {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .single-article.body {
    margin: 10px 0px 10px 0px;
  }

  .single-article.image {
    width: 100%;
    align-self: center;
  }

  .single-article.info-box {
    margin: 10px 0px 0px 0px;
  }
}

/* Comments */
.comments {
  display: flex;
  flex-flow: column;
  gap: 1.5em;
}

.comments-ol {
  display: flex;
  flex-flow: column;
  gap: 1.5em;
}

.comment-input {
  width: 100%;
}

/* Users page */

.users-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.user-card {
  text-align: center;
}

@media (max-width: 900px) {
  .users-flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5em;
  }
}

.user-login-img-container {
  align-self: center;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px black solid;
  text-align: center;
  margin: 2.5px;
}

.user-login-img-container > img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.users-username {
  margin: 2.5px;
}

.user-login.button {
  margin: 2.5px;
  padding: 5px;
}

/* Articles container */

.article-container {
  padding-bottom: 10px;
}

.sort-order-container {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin: 10px;
}

.article-card-header {
  display: flex;
  margin: 2px 0px 2px 0px;
}

.article-card-link {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 5px;
}

.article-card-link:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.article-card-link:hover::after {
  opacity: 1;
}

.article-img {
  border-radius: 5px;
}

.pop-article-card:hover {
  color: rgb(95, 85, 85);
  transition: 0.2s ease-in-out;
}
